body{
    font-family: arial, sans-serif;
    background-image: url(Imagenes/fondoweb.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}
h1{
    color: #fe0000;
    text-align: center;
}
.ejercicios{
  border: 2px solid #000000;
  background-color: #afafaf;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
}
h3{
    color: #ffffff;
}
pre{
    background: #000000;
    padding: 10px;
    border-radius: 5px;
   width: auto;
    color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top: none;
    text-align: left;
}
.code-block {
    overflow-x: auto;
    width: fit-content;
}
.code-header {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    font-family: monospace;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-bottom: -10px;
}